@import url("https://fonts.googleapis.com/css2?family=FAMILY_NAME:wght@WEIGHT_OR_RANGE&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

h1 {
  font-size: 50px;
  line-height: 64px;
  color: #222;
}

h2 {
  font-size: 46px;
  line-height: 54px;
  color: #222;
}

h4 {
  font-weight: 700;
  font-size: 12px;
}

.section-p1 {
  padding: 40px 80px;
}

.section-p1 h4 {
  font-size: 20px;
  font-weight: 600;
}

.section-m1 {
  margin: 40px 0;
}

p {
  font-size: 16px;
  color: #465b52;
}

body {
  width: 100%;
}

#header {
  justify-content: space-between;
  display: flex;
  align-items: center;
  padding: 20px 75px;
  background-color: #001489;
  box-shadow: 0 5px 6px rgba(0, 0, 0, 0.06);
  position: sticky;
  top: 0;
  left: 0;
  z-index: 999;
}

#header i {
  align-items: center;
}

#header a .logo {
  width: 50px;
}

#navbar {
  align-items: center;
  display: flex;
  justify-content: center;
}

#navbar li {
  list-style: none;
  padding: 0 20px;
  position: relative;
}

#navbar li a {
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  color: white;
  transition: 0.3s ease;
}

#navbar li a:hover,
#navbar li a.active {
  color: rgb(236, 241, 244);
}

#navbar li a.active::after,
#navbar li a:hover::after {
  content: "";
  width: 30%;
  height: 2px;
  background: rgb(7, 145, 220);
  bottom: -4px;
  position: absolute;
  left: 20px;
}

#mobile {
  display: none;
  align-items: center;
}

#close {
  display: none;
}
/* home page */

#hero {
  background-image: url("images/messi10.jpg");
  height: 90vh;
  width: 100%;
  background-size: cover;
  padding: 0 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  text-decoration: wavy;
}

#hero h1 {
  color: black;
}

#hero button {
  padding: 6px 20px;
  border-radius: 0px;
  color: black;
  cursor: pointer;
  background: transparent;
  font-weight: 700;
  font-size: 16px;
  margin-top: 0.5cm;
}

#product {
  text-align: center;
}

#product .pro-container {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  border-radius: 20px;
  flex-wrap: wrap;
  background-color: rgb(252, 253, 253);
}

#product .proItem {
  width: 23%;
  min-width: 250px;
  padding: 10px 20px;
  border: 0.5px solid #f5f0f0;
  border-radius: 20px;
  cursor: pointer;
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.03);
  margin: 15px 0;
  position: relative;
  transition: 0.2s ease;
}

#product .proItem:hover {
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.06);
}

#product .proItem img {
  width: 100%;
  border-radius: 5px;
}

#product .proItem .description {
  text-align: center;
  padding: 10px 0;
}

#product .proItem .description .span {
  color: #001489;
  font-size: 12px;
}

#product .proItem .description h5 {
  padding-top: 6px;
  color: black;
  font-size: 14px;
}

#product .proItem .description i {
  font-size: 11;
  color: rgb(223, 184, 9);
}

#product .proItem .description h4 {
  padding-top: 7px;
  font-size: 15px;
  color: rgb(3, 3, 81);
}

.oldPrice {
  text-decoration: line-through;
  color: #22da8a;
}

#product .proItem .cart {
  width: 35px;
  height: 35px;
  line-height: 40px;
  border-radius: 40px;
  font-weight: 600;
  color: rgb(3, 3, 81);
  position: absolute;
  bottom: 5px;
  right: 15px;
}

#banner {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  background-image: url("banner/blue-banner.png");
  color: white;
  width: 100%;
  height: 45vh;
  background-position: center;
}

#banner h2 {
  color: white;
  font-size: 50px;
  padding: 8px 0;
}

#banner h3 {
  color: white;
  font-size: 24px;
  padding: 7px 0;
}

#banner button {
  width: 15%;
  padding: 15px 0;
  font-size: 15px;
  font-weight: bold;
  color: white;
  margin: 25px 5px 15px 20px;
  background-color: transparent;
  cursor: pointer;
}

#banner button:hover {
  font-size: 20px;
  background-color: black;
  color: white;
}

#newsletter {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  background-image: url("banner/blue-banner.png");
}

#newsletter h4 {
  color: white;
  font-size: 20px;
  font-weight: 600;
}

#newsletter p {
  color: rgb(90, 86, 86);
  font-size: 14px;
  font-weight: 500;
}

#newsletter .form {
  display: flex;
  width: 40%;
  border-radius: 4px;
}

#newsletter p span {
  color: rgb(255, 0, 0);
}

#newsletter input {
  height: 3.125;
  padding: 0 1.25em;
  font-size: 18px;
  width: 100%;
  border: 1px solid transparent;
  border-radius: 4px;
  outline: none;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

#newsletter button {
  background-color: black;
  color: white;
  white-space: nowrap;
  border-radius: 4px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  font-size: 18px;
}

footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

footer .col {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 20px;
}

footer .col .logo {
  width: 50px;
}

footer h4 {
  font-size: 14px;
  padding-bottom: 20px;
}

footer p {
  font-size: 13px;
  margin: 0 0 8px 0;
}

footer a {
  font-size: 13px;
  text-decoration: none;
  color: #222;
  margin-bottom: 10px;
}

footer .follow {
  margin-top: 20px;
}

footer .follow i {
  color: rgb(14, 14, 17);
  padding-right: 3px;
  cursor: pointer;
}

footer .install img {
  width: 120px;
  margin: 10px 0 15px 0;
}

footer .follow i:hover,
footer a:hover {
  color: #001489;
}

footer .copyright {
  text-align: center;
  width: 100%;
}

/* shop */

#page-header {
  background-image: url("images/");
  width: 100%;
  height: 40vh;
  background-size: cover;
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  padding: 15px;
}

#pagination {
  text-align: center;
}

#pagination a {
  text-decoration: none;
  background-color: rgb(6, 6, 118);
  padding: 15px 20px;
  border-radius: 4px;
  color: white;
  font-weight: 600;
}

#pagination a i {
  font-size: 16px;
  font-weight: 600;
}

/* single item detail */
#item-details {
  display: flex;
  margin-top: 20px;
}
#item-details .single-item-image {
  width: 40%;
  margin-right: 50px;
}

.small-img-group {
  display: flex;
}

.small-img-col {
  flex-basis: 24%;
  cursor: pointer;
}

#item-details .single-pro-details {
  width: 50%;
  padding-top: 30px;
}

#item-details .single-pro-details h4 {
  padding: 40px 0 20px 0;
}

#item-details .single-pro-details h2 {
  padding: 40px 0 20px 0;
  font-size: 26px;
}

#item-details .single-pro-details select {
  display: block;
  padding: 5px 10px;
  margin-bottom: 10px;
}

#item-details .single-pro-details input {
  width: 50px;
  height: 47px;
  padding-left: 10px;
  font-size: 16px;
  margin-right: 10px;
}

#item-details .single-pro-details button {
  color: white;
  background: #001489;
  width: 100px;
  height: 45px;
  border-radius: 4px;
  border: none;
  font-size: 16px;
}

#item-details .single-pro-details input:focus {
  outline: none;
}

#item-details .single-pro-details p {
  line-height: 25px;
}

/* Strat Media Query*/
@media (max-width: 799px) {
  #navbar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    position: fixed;
    top: 0;
    right: -300px;
    height: 100vh;
    width: 300px;
    background-color: #a9861d;
    box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);
    padding: 80px 0 0 10px;
    transition: 0.3s;
  }

  #navbar.active {
    right: 0px;
  }
  #navbar li {
    margin-bottom: 25px;
  }

  #mobile {
    display: flex;
    align-items: center;
  }

  #mobile i {
    color: white;
    font-size: 24px;
    padding-left: 20px;
  }

  #close {
    display: initial;
    position: absolute;
    top: 30px;
    left: 30px;
    color: white;
    font-size: 24px;
  }
  #lg-bag {
    display: none;
  }

  #hero {
    height: 70vh;
    padding: 0 80px;
    background-position: top 30% right 30%;
  }

  #feature {
    justify-content: center;
  }

  #feature .fe-box {
    margin: 15px 15px;
  }

  #product .proItem {
    justify-content: center;
  }

  #product .proItem {
    margin: 15px;
  }

  #banner {
    height: 50vh;
  }
}

@media (max-width: 477px) {
  .section-p1 {
    padding: 20px;
  }
  #header {
    padding: 10px 30px;
  }

  h2 {
    font-size: 32px;
  }

  h1 {
    font-size: 38px;
  }
  #hero {
    padding: 0 20px;
    background-position: 55%;
  }

  #feature {
    justify-content: space-between;
  }
  #feature .fe-box {
    width: 155px;
    margin: 0 0 15px 0;
  }

  #product .proItem {
    width: 100%;
  }

  #banner {
    height: 50vh;
  }
  #banner button {
    width: 30%;
  }

  #newsletter {
    padding: 40px 20px;
  }

  #newsletter .form {
    width: 100%;
  }

  footer .copyright {
    text-align: start;
  }
}
